.button {
  @include f-size_f-weight(0.8rem, bold);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 67px;
  border-radius: 4px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-family: $font-family-Montserrat;
  color: $color-white;


  &--green {
    background-color: $color-green-aqua;
  &:hover {
    background-color: lighten($color-green-aqua, 15%);
  }
  }

  &--blue {
    background-color: $color-blue-light;
    &:hover {
      background-color: lighten($color-blue-light, 15%);
    }
  }
}

@media (max-width: $lg) {
  .button {
    @include f-size_f-weight(0.9rem, bold);
  }
}

@media (max-width: $md) {
  .button {
    @include f-size_f-weight(1rem, bold);
  }
}

@media (max-width: $sm - 1) {
  .button {
    width: 140px;
    height: 60px;
  }
}