.footer {
  height: 109px;
  background-color: $color-navy-dark;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__text {
    @include f-size_f-weight(0.9rem, normal);
    display: flex;
    text-transform: capitalize;
    white-space: nowrap;
    font-family: $font-family-Montserrat;
    color: $color-gray;

    &--different {
      text-transform: none;
      color: $color-green-aqua;

      &:after {
        content: "";
        height: 100%;
        width: 1px;
        background-color: $color-gray;
      }
    }
  }


}