.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__menu-list {
    display: flex;
    margin-top: 50px;
    margin-bottom: 70px;
  }

  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-white;
    border: 1px solid $color-light-gray;
    border-right: 0;
    cursor: pointer;

    &:last-child {
      border-right: 1px solid $color-light-gray;;
    }

    &--active {
      background-color: $color-green-aqua;

      .gallery__item-text {
        color: $color-white;
      }

    }
  }

  &__item-text {
    @include f-size_f-weight(0.87rem, normal);
    padding: 22px 20px;
    text-transform: capitalize;
    text-align: center;
    color: $color-navy-dark;
    font-family: $font-family-Montserrat;
  }

  &__photo-list-wrap {
    display: flex;
    justify-content: center;
  }

  &__photo-list {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(284px * 3);
    min-height: 200px;
  }

  &__photo-item {
    display: none;
    position: relative;
    overflow: hidden;

    &--active {
      display: flex;
    }
  }

  &__img {
    width: 284px;
    height: 206px;
  }

  &__loader-animation {
    display: none;
    width: 200px;
    height: 200px;
    position: absolute;
    right: 50%;
    transform: translate(50%);
    background-image: url("../img/eclips.gif");
  }

  &__button {
    @include f-size_f-weight(0.9rem, bold);
    margin-top: 72px;
    background-color: $color-green-aqua;
    cursor: pointer;

    &--text-plus {
      @include f-size_f-weight(2rem, bold);
      margin-right: 5px;
    }
  }
}

@media (max-width: $md - 1) {
  .gallery {
    &__photo-list {
      max-width: calc(284px * 2);
    }
  }
}

@media (max-width: $sm - 1) {
  .gallery {
    &__menu-item {
      width: 100%;
    }

    &__item-text {
      padding: 12px;
    }

    &__photo-list {
      max-width: calc(284px * 1);
    }
  }
}

@media (max-width: $xs - 1) {
  .gallery {
    &__item-text {
      padding: 5px 0;
    }
  }
}
