.header {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: rgba(50, 50, 50, 0.5);

  &__container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__logo {
    display: flex;
    align-items: center;
    font-size: 0;
    font-family: $font-family-Montserrat;
  }

  &__logo-img {
    @include b-pos_b-repeat_b-size(center, no-repeat, cover);
    width: 58px;
    height: 67px;
    margin-right: 10px;
    background-image: url("../img/main-logo.png");
  }

  &__logo-text {
    white-space: nowrap;

    &--first-word {
      @include f-size_f-weight(1.4rem, normal);
      color: $color-white;
    }

    &--second-word {
      @include f-size_f-weight(1.5rem, bold);
      text-transform: capitalize;
      color: $color-green-aqua;
    }
  }

  &__search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    right: 100px;
    top: 0;
    bottom: 0;
  }
}

@media (max-width: $xl - 1) {
  .header {
    &__search {
      right: 25px;
    }
  }
}

@media (max-width: $lg - 1) {
  .header {
    &__search {
      right: 150px;
    }
  }
}

@media (max-width: $md - 1) {
  .header {
    &__search {
      right: 100px;
    }
  }
}

@media (max-width: $sm - 1) {
  .header {
    &__search {
      right: 35px;
    }
  }
}

@media (max-width: $xs - 1) {
  .header {
    &__logo-img {
      width: 24px;
      height: 30px;
      margin-right: 5px;
    }

    &__logo-text {
      &--first-word {
        @include f-size_f-weight(1rem, normal);
        color: $color-white;
      }

      &--second-word {
        @include f-size_f-weight(1.1rem, bold);
        text-transform: capitalize;
        color: $color-green-aqua;
      }
    }
    &__search {
      right: 0;
    }
  }
}