.introduction {
  font-family: $font-family-Montserrat;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 240px;
    padding-bottom: 240px;
  }

  &__title-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  &__title {
    text-align: center;
    white-space: nowrap;
  }

  &__button-wrap {
    display: flex;
    justify-content: space-between;
    width: 360px;
    margin-top: 135px;
  }

  &--main-title {
    @include f-size_f-weight(2.15rem, bold);
    text-transform: uppercase;

    &--first-word {
      color: $color-white;
    }

    &--second-word {
      color: $color-green-aqua;
    }
  }

  &--main-title-second {
    @include f-size_f-weight(4.95rem, bold);
    margin-top: 40px;
    text-transform: uppercase;
    color: $color-white;
  }

  &--main-subtitle {
    @include f-size_f-weight(2.1rem, light);
    margin-top: 36px;
    text-transform: capitalize;
    color: $color-gray;
  }
}

@media (max-width: $lg - 1) {
  .introduction {
    &__container {
      padding-top: 140px;
      padding-bottom: 140px;
    }
  }
}

@media (max-width: $sm - 1) {
  .introduction {
    &__container {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    &__title-wrap {
      width: 100%;
    }

    &__title {
      width: 100%;
      white-space: normal;
    }

    &__button-wrap {
      display: flex;
      justify-content: space-between;
      width: 300px;
      margin-top: 120px;
    }

    &--main-title-second {
      word-wrap: break-word;
    }
  }
}