@mixin f-size_f-weight($font-size, $font-weight) {
  font-size: $font-size;
  font-weight: $font-weight;
}

@mixin b-pos_b-repeat_b-size($background-position, $background-repeat, $background-size) {
  background-position: $background-position;
  background-repeat: $background-repeat;
  background-size: $background-size;
}