@keyframes shown-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: $font-family-Montserrat;

  &--active {
    display: flex;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
    padding: 50px 30px;
    border-radius: 10px;
    position: relative;
    background-color: $color-white;
    animation: shown-modal 0.4s ease;
  }

  &__order {
    width: 45%;
  }

  &__title {
    @include f-size_f-weight(1.4rem, normal);

    &--order {
      color: $color-dark-gray-second;
    }

    &--subscribe {
      color: $color-green-aqua;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
  }

  &__input {
    @include f-size_f-weight(1.1rem, normal);
    padding: 15px 0 15px 15px;
    margin-top: 20px;
    border-radius: 4px;
    border: 1px solid $color-light-second;

    &::placeholder {
      color: $color-gray;
    }
  }

  &__button {
    width: 100%;
    height: 49px;
    margin-top: 20px;
    background-color: $color-green-aqua;
    text-transform: none;
    font-weight: normal;
    color: $color-white;
    box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);

    &:hover {
      box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.4);
    }

    &:active {
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    }
  }

  &__option-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }

  &__input-checkbox {
    text-transform: capitalize;
  }

  &__forgot-password {
    @include f-size_f-weight(0.95rem, normal);
    text-transform: capitalize;
    color: $color-gray-second-lighter;
  }

  &__design-line {
    display: flex;
    align-self: center;
    padding: 17px 0;
    z-index: 2;
    background-color: $color-white;

    &:before {
      content: '';
      display: flex;
      width: 1px;
      height: 20%;
      position: absolute;
      right: 50%;
      bottom: 25%;
      z-index: 1;
      background-color: $color-green-aqua;
    }

    &:after {
      content: '';
      display: flex;
      width: 1px;
      height: 20%;
      position: absolute;
      right: 50%;
      top: 25%;
      z-index: 1;
      background-color: $color-green-aqua;
    }
  }

  &__subscribe {
    display: flex;
    width: 45%;
    flex-direction: column;
  }

  &__social-networks {
    display: flex;
    flex-direction: column;
  }

  &__sign-in {
    display: flex;
    width: 100%;
    height: 50px;
    margin-top: 19px;
    border-radius: 4px;
  &:hover  {
    box-shadow: -1px 1px 4px 1px rgba(0, 0, 0, 0.4);
  }

    &:active {
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    }
  }

  &__sign-in-logo {
    @include b-pos_b-repeat_b-size(center, no-repeat, auto);
    width: 15%;
    height: 100%;
    border-radius: 4px 0 0 4px;

    &--facebook {
      background-image: url("../img/facebook.png");
      background-color: $color-blue-light-facebook;
    }

    &--twitter {
      background-image: url("../img/bird.png");
      background-color: $color-blue-light-twitter;
    }

    &--google {
      background-image: url("../img/g+.png");
      background-color: $color-red-light-google;
    }
  }

  &__sign-in-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    border-radius: 0 4px 4px 0;
    color: $color-white;

    &--facebook {
      background-color: $color-blue-facebook;
    }

    &--twitter {
      background-color: $color-blue-twitter;
    }

    &--google {
      background-color: $color-red-google;
    }
  }

  &__close-button {
    @include b-pos_b-repeat_b-size(center, no-repeat, cover);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 7px;
    right: 7px;
    background-image: url("../img/close.png");
    cursor: pointer;
  }
}

  @media (max-width: $md - 1) {
    .modal {
      &__container {
        flex-direction: column;
        align-items: center;
      }
      &__order {
        width: 60%;
      }
      &__title {
        @include f-size_f-weight(1.2rem, normal);
        white-space: nowrap;
      }
      &__design-line {
        align-items: center;
        margin: 15px 0;
        &:before {
          position: relative;
          width: 100px;
          height: 1px;
          right: 10%;
        }
        &:after {
          position: relative;
          width: 100px;
          height: 1px;
          right: -10%;
        }
      }
      &__subscribe {
        width: 60%;
      }
    }
  }
  @media (max-width: $xs - 1) {
    .modal {
      &__order {
        width: 80%;
      }
      &__subscribe {
        width: 80%;
      }
    }
  }
