.slider {
  position: relative;

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  &__control-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid $color-gray;
    color: $color-white;
    cursor: pointer;
    &:hover {
      background-color: $color-green-aqua;
      border-color: $color-green-aqua;
    }
  }

  &__menu-list-container {
    display: flex;
    max-width: 500px;
    position: relative;
    overflow: hidden;
  }

  &__menu-list {
    display: flex;
    position: relative;
    right: 111px;

    &--active {
      animation-duration: 2s;
      animation-name: move;
    }
  }

  &__list-item {
    margin: 20px;
  }

  &__item-photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(24, 207, 171, 0.4);
    cursor: pointer;

    &--active {
      border: 2px solid $color-green-aqua;
      transform: translateY(-12px);
    }
  }
}

@keyframes move {
  from {
    left: 0;
  }

  to {
    left: 50px;
  }
}

@media (max-width: $sm - 1) {
  .slider {
  &__menu-list-container {
    max-width: 140px;
  }
  }
}