$font-family-Montserrat: 'Montserrat', sans-serif;

$color-white: #ffffff;
$color-navy-white: #f8fcfe;
$color-light-gray: #ebebeb;
$color-light-second: #d8d8d8;
$color-gray: #b8b8b8;
$color-gray-second-lighter: #8a8a8a;
$color-gray-second-lighter-b: #777777;
$color-gray-second: #717171;
$color-dark-gray: #4e4e4e;
$color-dark-gray-second: #474646;
$color-green-aqua: #18cfab;
$color-blue-light: #00cbf6;
$color-dark-green: #203e38;
$color-navy-dark: #061e37;
$color-blue-facebook: #354f88;
$color-blue-light-facebook: #3b5998;
$color-blue-twitter: #40a2d1;
$color-blue-light-twitter: #45b0e3;
$color-red-google: #ce3e26;
$color-red-light-google: #de4c34;

$xl: 1600px;
$lg: 1200px;
$md: 992px;
$sm: 768px;
$xs: 480px;

